---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: api-keys
  namespace: default
spec:
  encryptedData:
    APIKEY: AgCgFxdwIWwkfD5X2oLaH6fcJl+OzpiHOYg04BG758ExGAkxpN8brSGBkTu4cNHF7lSwVQPtou+Nd7GilMG3jisVTWterKYC37UiBhpf++UA21IZllGaSKSNZqCxWKT0JQ0tfseHAa+sqU+v8doEitPTtC383NNOp4yzNHJVNUDznQmfRkmP2L3GYKrf/EYBVQhAkjNdjMmHylJ/ffC+PEOSso0/c1R5BI7/TqNSH5WSdRMONPiepPYakdDsu0kcKF3NPcFCjBPVR+CvEGtjMgIjuTgjLMUEfujav/3D6QVwa5R8NaNBxDU4rbKL76lQ/lzFxaUAB2JAuwKOoCMzznnK4PbxuOud3UgReu0/Do1i1JqZowtqQEb6bxXTxu3VK20/nTNPnh6S8qrVLsONEhSBoXio5I9e/R5mols169JyLOVFzviCuuEQW0f4hByU/m1Hh7mAjHpBE7SowoAkfl5wIZBJkqubsgpRT8bEWhaRVbseNAkYTUMbZ7ro0N65Fi3qx7orE8YdRd6M5kaTS9guZUeRVWE/3Qk2HsJbkwLTFvf6DsrEg4UGm+bhVTYbB31XN9SDmTzc2xt5Y8rmd0ugclbe+B0Gq4l98sAN26j5Pngpr64u9tsXAqpqAFpKVfDDwWfHxj24wkPsYji7G9OgTiBLKCU5SN+XrsXk2nBVB3g8bNbidGQnv45WbNgltUsLWGq+vnXias7m0jYVWqjRX4UDfLZlB/Yhfv0IGt68cxoFGYPGyR9IGCWR692B4rUeaw==
  template:
    metadata:
      name: api-keys
      namespace: default
    type: Opaque
